<p id="notice"><%= notice %></p>
<ul id="staggered-test">
<li>
<div class="row">
   <div class="col s12 m12 l6">
      <h2 class="header card-panel pink darken-3"><span class="white-text text-darken-2">My Notes</span></h2>
      <ul class="collection">
        <% if @notes_user.empty? %>
          <li class="collection-item avatar">
             <i class="mdi-file-cloud-off circle"></i>
             <b class="title">Empty</b>
             <p>no notes</p>
          </li>
        <% else %>
          <%= render partial: "note", collection: @notes_user %>
        <% end %>
      </ul>
    </div>
    
    <div class="col s12 m12 l6">
       <h2 class="header card-panel pink darken-3"><span class="white-text text-darken-2">Public Notes</span></h2>
       <ul class="collection">
          <% if @notes_public.empty? %>
            <li class="collection-item avatar">
               <i class="mdi-file-cloud-off circle"></i>
               <b class="title">Empty</b>
               <p>no notes</p>
            </li>
          <% else %>
            <%= render partial: "note", collection: @notes_public %>
          <% end %>
       </ul>
    </div>
</div>
</li>
</ul>
<script type="text/javascript" src="/assets/js/animate_li_up.js"></script>
<script>
  console.log("hola");
 function post (note_id) {
    // body...
    $.ajax({
        url: '/note/'+note_id+'/rate/',
        type: 'post',
  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},

        data: {"note_id":note_id},
        success: function (data) {
          console.log("OKK");
        }
      });
  } 


</script>
