<link  rel="stylesheet" type="text/css" href="/assets/css/line_chart_animation.css">
<div class="row">
   <div class="col s12 m12 l6">
       <ul id="staggered-test">
        <li>
          <div class="card-panel indigo lighten-5">
            <table>
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Minutes</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @themes.each do |theme| %>
                  <tr>
                    <td><%= theme.description %></td>
                    <td><%= theme.minutes %></td>
                    <td><%= link_to "Upload note", new_theme_note_path(theme) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <p><b>Total minutes:</b> <%=@themes_sum %></p>
          </div>
        </li>
       </ul>
   </div>
   <div class="col s12 m12 l6">
     <div class="card-panel indigo lighten-5">
       <div class="ct-chart ct-golden-section" id="chart2"></div>
     </div>
</div>

<script>
$( document ).ready(function() {
  Materialize.showStaggeredList('#staggered-test')
});
$.getJSON(document.URL, function (themes) {
    draw_chart(themes);
});

function draw_chart(themes){
    var themes_minutes = themes.map(function(theme){return theme.minutes;});
    var themes_descriptions = themes.map(function(theme){return theme.description;});

    var chart = new Chartist.Bar('.ct-chart', {
    labels: themes_descriptions,
    series: [
      themes_minutes
    ]
  }, {
    seriesBarDistance: 10,
    reverseData: true,
    horizontalBars: true,
    axisY: {
      offset: 70
    }
  });
  chart.on('draw', function(data) {
    if(data.type === 'bar') {
      data.element.animate({
        x2: {
          id: 'grow',
          dur: 2000,
          from: data.x1,
          to: data.x2,
          easing: Chartist.Svg.Easing.easeOutQuint
        }
      }, false);
    }
  });

}
  </script>
 
  
 