<p id="notice"><%= notice %></p>

<link  rel="stylesheet" type="text/css" href="/assets/css/line_chart_animation.css">

<div class="row">
 <div class="col s6">
    <div class="card-panel indigo lighten-5">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Theme</th>
          <th>Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @study_sessions.each do |study_session| %>
          <tr>
            <td><%= study_session.date %></td>
            <td><%= study_session.theme.description %></td>
            <td><%= study_session.theme.minutes %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
 </div>
  <div class="col s6">
    <div class="card-panel indigo lighten-5">
      <div class="ct-chart ct-golden-section"></div>
    </div>
  </div>
</div>

<script>
new Chartist.Line('.ct-chart', {
  labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
  series: [
    [1, 3, 4, 5, 6]
  ]
}, {
  fullWidth: true,
  chartPadding: {
    right: 40
  }
});
</script>
