<div class="row">
	<div class="col s4 offset-s4 ">
		<div class="card green">
			<div class="card-content black-text">
			<span class="card-title">New Study Session</span>
			<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
