<div class="row">
	<div class="col s5 offset-s4 ">
      <h4 class="header card-panel pink darken-3"><span class="white-text text-darken-2">New study session</span></h4>
     	<div class="card-panel indigo lighten-5">
			<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
