	<li>
	  <div class="collapsible-header">
	  	<i class="mdi-hardware-keyboard-arrow-right"></i>
		<a href="<%= note.attachment %>" target="_blank">
		  <i class="small mdi-action-description"></i>
		</a>
		<span class="truncate"><%= note.name %></span>
	  </div>
  	</li>