<ul id="staggered-test">
<li>
	<% @subjects.each do |subject| %>
		<div class="card-panel indigo lighten-5">
			<blockquote>	
			 <b ><%= subject.course.school.name %></b> 
			 <i class="mdi-navigation-chevron-right"></i>
			 <%= subject.course.name %>
			 <i class="mdi-navigation-chevron-right"></i>
			 <%= subject.name %>
			 <i class="mdi-navigation-chevron-right"></i>
			</blockquote>
			<table class="bordered">
			 <thead>
			  <tr>
			    <th>Exam description</th>
			    <th>Estimate time </th>
			    <th>Minutes Study</th>
			    <th>Study %</th>
			    <th>Days before</th>
			    <th>Study session</th>
			    <th>Topics</th>
			    <th>Topics notes</th>
			  </tr>
			 </thead>
			 <%= render partial: "exam", collection: subject.exams, locals: {subject:subject} %>
			</table>
		</div>
	<% end %>
</li>
</ul>
<script type="text/javascript" src="/assets/js/animate_li_up.js"></script>


	