<ul id="staggered-test">
	<ol>
		<div class="row">	
			<% @subjects.each do |subject| %>
			    <div class="col s12 m12 l4">
			    	<blockquote>	
			    	  <%= subject.course.name %> <i class="mdi-navigation-chevron-right"></i>
			    	  <%= subject.name %> <i class="mdi-navigation-chevron-right"></i>
			    	</blockquote>
					<ul class="collapsible" data-collapsible="accordion">
 					  <%= render partial: "theme", collection: subject.themes %>
					</ul>  
			 	</div>   
		    <%end %>
	    </div> 
	</ol>
</ul>
<script type="text/javascript" src="/assets/js/animate_ol_down
.js"></script>
