<ul id="staggered-test">
	<ol>
		<div class="row">	
			<% @subjects.each do |subject| %>
			    <div class="col s12 m12 l4">
			    	<blockquote>	
			    	  <%= subject.course.name %> <i class="mdi-navigation-chevron-right"></i>
			    	  <%= subject.name %> <i class="mdi-navigation-chevron-right"></i>
			    	</blockquote>
					<ul class="collapsible" data-collapsible="accordion">
 					  <%= render partial: "theme", collection: subject.themes %>
					</ul>  
			 	</div>   
		    <%end %>
	    </div> 
	</ol>
</ul>

 <script>
  $( document ).ready(function() {
    Materialize.showStaggeredListY('#staggered-test')
  });

  Materialize.showStaggeredListY = function(selector) {
    var time = 0;
    $(selector).find('ol').velocity(
        { translateY: "20px"},
        { duration: 2 });

    $(selector).find('ol').each(function() {
      $(this).velocity(
        { opacity: "1", translateY: "0"},
        { duration: 800, delay: time, easing: [80, 10] });
      time += 120;
    });
  };
  </script>
	